@charset "UTF-8";
/* CSS Document */

html { 
  background: url("img/Bandfoto2_web_1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

body {
	position: relative;
	background-color: rgba(0, 0, 0, 0.45);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
	color: white;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /*whatever width you want*/
}

@media only screen and (max-width: 600px) {
	.inner {
		width: 100%;
	}
}


h2 {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	font-family: acier-bat-solid, sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 16px;
	margin: 220px 0 25px 0 !important;
	padding: 0 !important;
}

#thanks {
	padding: 120px 0 0 0 !important;
	width: 60% !important;
	transform: translate(40%) !important;
}

p {
	font-size: 16px;
	text-align: center;
	font-family: soleil,sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 4px;
	text-transform: lowercase;
}

.btn {
	background-color: rgba(255,255,255,0.1) !important;
	border: solid 1px white !important;
	-webkit-box-shadow: 0 0 0 !important;
    box-shadow: 0 0 0 !important;
	transform: scale(1.2);
	margin: 15px 0 0 0;
}

.btn:hover {
	background-color: rgba(32,32,32,0.2) !important;
	transform: scale(1.23);
	cursor: pointer !important;
}

.waves-effect input[type="submit"] {
	color: white !important;
	letter-spacing: 4px !important;
	text-transform: lowercase !important;
}

input:hover{
	cursor: pointer !important;
}

.input-field.col label {
	text-transform: lowercase !important;
}

/* label color */
.input-field label {
 color: #fff !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #fff !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #fff !important;
 box-shadow: 0 1px 0 0 #fff !important;
}
/* color */
.input-field input[type=text] {
	color: white !important;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #fff !important;
 box-shadow: 0 1px 0 0 #fff !important;
 color: white !important;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #fff !important;
 box-shadow: 0 1px 0 0 #fff !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #fff !important;
}


.social-icon {
	color: white;
	font-size: 30px;
	text-align: center !important;
	margin-top: 30px;
	display:block;
}

.fab {
	transition: transform .4s; /* Animation */ 
}

.fab:hover {
	transform: scale(1.2);
}
