@charset "UTF-8";
/* CSS Document */

html { 
  background: url("img/Bandfoto2_web_1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}